<% if (config.github_user) { %>
<section>
  <h1>GitHub Repos</h1>
  <ul id="gh_repos">
    <li class="loading">Status updating...</li>
  </ul>
  <% if (true) { %>
  <a href="https://github.com/<%= config.github_user %>">@<%= config.github_user %></a> on GitHub
  <% } %>
  <script type="text/javascript">
    $(document).ready(function(){
        if (!window.jXHR){
            var jxhr = document.createElement('script');
            jxhr.type = 'text/javascript';
            jxhr.src = '<%= config.root %>/javascripts/libs/jXHR.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(jxhr, s);
        }

        github.showRepos({
            user: '<%= config.github_user %>',
            count: 4,
            skip_forks: true,
            target: '#gh_repos'
        });
    });
  </script>
  <%- js("/javascripts/github.js") %>
</section>
<% } %>
